<%= stylesheet_link_tag "show", :media => "all" %>
<div class="Container">
    <div class="Item">

    </div>

    
    <div class="Item2">
        <div class="contents1">
            <div class="Text1">
                <h2>-From  Sip&Love -</h2>

                <div class="scroll1">
                お酒が好きな人も、嫌いな人も、
                大人数で楽しみたい人も、1人でしっぽり楽しみたい人もいると思います。<br><br>
                たくさんあるお酒の中でカクテルって特にオシャレだと思いませんか？<br><br>
                しかし、カクテルの種類は本当に多く、BARに行っても同じようなものばかり注文することありませんか？
                カクテルについて詳しくないからBARには抵抗がある方はいませんか？

                <br>
                <br>
                味、匂い、色で楽しめるカクテルをたくさん知りたいと思う方に向けて作成しました。
                Sip&Loveでオシャレな知識を増やしましょう。
                
                </div>
            </div>
        </div>


        <div class="contents2">
            <div class="Text2">
                    <div class="scroll2">
                        <h2>01.</h2>
                        <h2>Enjoy Watching</h2>
                        <h3>みんなのCocktails一覧でカクテル投稿を確認</h3>

                            <div class="本文2">
                                皆様が投稿しているカクテルを流し見することで気になるカクテルに出会うかもしれません。
                                飲んでみたい、オシャレと思った投稿にはいいねを押してみるのも押してみるのもよいでしょう。
                            </div>
                    </div>

                <br>
                <br>
                <br>
                <div class="scroll3">
                    <h2>02.</h2>
                    <h2>Post</h2>
                    <h3>自分自身が飲んでみたカクテルを投稿しましょう</h3>

                        <div class="本文2">
                            カクテルの名前、写真、ベースのお酒、一言、そしてタグをつけて投稿してみてください。
                            タグを多くつけると検索されやすくなります。
                        </div>
                </div>

                <br>
                <br>
                <br>
                <div class="scroll4">
                    <h2>03.</h2>
                    <h2>Search</h2>
                    <h3>カクテルの名前やタグで検索してみましょう</h3>

                        <div class="本文2">
                            どのようなカクテルか調べたい際、BARに行った際にメニューに書いてカクテルなど
                            名前で検索してみましょう。
                            <p>また、甘い、トロピカル、スッキリなど単語で調べたい時でもタグ機能があることで
                            名前を知らなくても検索できます。</p>
                        </div>
                </div>
                
            </div>
        </div>

    </div>

</div>

