.一覧画像{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.一覧カクテル名{
    font-weight: bolder;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
}

.tweets-container{
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
}

.tweet{
    width: calc(100% / 3 - 50px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 16px;
    margin: 10px;
    margin-left: 17px;
    
}

.けんさく{
    margin: 50px;
}

