.fieldA{
    display: inline-block;
}


.post1{
    margin-top: 15px;
    font-size: 25px;
    border-bottom: 1px solid #ff4343;
}
.post2{
    margin-top: 30px;
}


.fieldB{
    display: inline-block;
    margin-top: 50px;
}


.post3{
    margin-top: 15px;
    font-size: 25px;
    border-bottom: 1px solid #7bffbb;
}
.post4{
    margin-top: 30px;
}

.fieldC{
    display: inline-block;
    margin-top: 50px;
}


.post5{
    margin-top: 15px;
    font-size: 25px;
    border-bottom: 1px solid #fff87b;
}
.post6{
    margin-top: 30px;
}


.fieldD{
    display: inline-block;
    margin-top: 50px;
}


.post7{
    margin-top: 15px;
    font-size: 25px;
    border-bottom: 1px solid #7bcfff;
}
.post8{
    margin-top:30px;
}


.fieldE{
    display: inline-block;
    margin-top: 50px;
}


.post9{
    margin-top: 15px;
    font-size: 25px;
    border-bottom: 1px solid #ff7bbf;
}
.post10{
    margin-top:30px;
}

.fieldF{
    margin-top: 50px;
    margin-bottom: 50px;

}
