.background{
    background-image: image-url;
}
 
.blank1{
display: flex;

justify-content: center;
align-items: center;
} 

.blank2{
text-align: center;
width: 70%;
color: rgb(255, 255, 255);
background: #3b3939 ;
border-radius: 9px;
margin: 20px 5px;
padding: 20px 40px;
} 

/* ここから下は、こだわりポイント！
どこの aタグなのかわからんから、.class名スペースaとする */

 .blank2 a{
color:#ffffff;
} 

.field label {
font-weight: 100;
font-size: 20px;
} 

.field input[type="email"] {
border-style: none;
width: 200px;
height: 30px;
background: #ff4696 ;
border-radius: 10px;
border: 1px hsl(331, 100%, 59%)  solid;
} 

.field input[type="password"] {
border-style: none;
width: 200px;
height: 30px;
background: #63ff87 ;
border-radius: 10px;
border: 1px #21ff58  solid;
} 

.actions input[type="submit"] {
border-style: none;
width: 150px;
height: 30px;
background: #F2A566 ;
border-radius: 10px;
border: 1px #060339  solid;
} 

.actions input[type="submit"]:hover {
cursor: pointer;
background: linear-gradient(to bottom,#1C94EA ,#5ba2f4f3);
} 